[Unit]
Description=MPD companion for notifications, Discord Rich Presence, and Last.fm scrobbling

[Service]
Type=simple
Restart=on-failure
RestartSec=5
ExecStart=/usr/bin/mpd-herald

[Install]
WantedBy=default.target
